body, html {
    background-color: #0A0A0A;
    height: 100%;
    margin: 0;
    overflow-y : auto;
    overflow-x: hidden;
    color:white;
    
  

}



.hero-image2 {
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/men-sled.jfif");     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%; */

}

