body, html {
    background-color: #0A0A0A;
    height: 100%;
    margin: 0;
    overflow-y : auto;
    overflow-x: hidden;
}

.hide {
    display: none;
}


a {
    font-family: 'Bitter', serif;
    margin-left: 82%;
    color: white;
    font-size: 1rem;
}

.hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pullup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    
}

.hero-text {
    text-align: center;
    color: white;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    
  
}

#title {
 padding-left: 17%;
 padding-top: 12%;
 
}




.column {
    padding: 0%;
    
  
}
#column1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/woman-weights.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
    
}
