body,
html {
  background-color: #0a0a0a;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  width: 100vw;
}

.hide {
  display: none;
}

a {
  font-family: "Bitter", serif;
  margin-left: 82%;
  color: white;
  font-size: 1rem;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pullup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-image1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assest/images/men-sled.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.hero-text {
  text-align: center;
  color: white;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

#hero-text1 {
  font-family: "Bitter", serif;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-top: 2%;
  font-size: 1.7rem;
}

#hero-text2 {
  font-family: "Bitter", serif;
  padding-left: 50%;
}

#title {
  padding-left: 17%;
  padding-top: 12%;
}
.workout-title {
  font-family: "Alfa Slab One", cursive;
}

.work-out {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  border-radius: 20%;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  mix-blend-mode: hard-light;

  transition: all 0.2s linear;
}

.work-out:hover {
  color: #52bff2;
}

.column {
  padding: 0%;
}

#column1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/woman-weights.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#button-div {
  margin-left: 40%;
  margin-bottom: 10%;
}

